* {
 	box-sizing: border-box;
  	margin:0;
  	padding:0;
}


body {
    margin:0
   	padding:0;
  	font-family: montserrat;
}

body.main_bg {
    background-image: url('MOVE.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%
}

body.yoga_bg {
    background-image: url('Yoga.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%
}

body.client_bg {
    background-image: url('Client.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-size: 100% 100%;
}

.container{
  width: 100%;
  margin:0 auto;
  background-color: #0082e6;
  height:120px;
}

.container1{
  width: 100%;
  margin:0 auto;
  background-color: #0082e6;
  height:30px;
}

header {
  background: #55d6aa;
}

header::after {
  content: '';
  display:table;
  clear: both;
}

.logo
{
  width:200px;
  height:120px;
  float:left;
  padding:10px 10px 10px 10px;

}

label.page_title {
  color:#FFFF00;
  font-size: 80px;
  line-height: 150x;
  padding: 0px 100px 50px 50px;
  font-weight: bold;
}

nav.nav1 {
  float: right;
  margin-right: 30px;
}

nav.nav2 {
  float: left;
  margin-left: 10px;
}

nav.nav1 ul{
  margin:0 5px 0px 20px;
  padding:60px 20px 10px 20px;
  list-style:none;
}

nav.nav2 ul{
  margin:0 0px 0px 0px;
  padding:0px 0px 0px 0px;
  float:left;
}


nav.nav1 li{
  display: inline-block; 
  margin-left: 50px
} 

nav.nav2 li{
  display: inline-block; 
  margin-right: 50px
} 

nav.nav2 ul li{
  float:left;
  list-style:none;
  position: relative;
}

nav.nav2 ul li a{
  display: block;
  color:white;
  font-size: 17px;
  padding: 5px 0px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

nav.nav2 ul li a:hover {
  display: block;
  background: red;
  transition: .5s;
}

nav.nav2 ul li ul.dropdown{
  display: none;
  position: absolute;
  background-color: #0082e6
}

nav.nav2 ul li:hover ul.dropdown{
  display: block;
  background-color: #0082e6
}

nav.nav2 ul li ul.dropdown li{
  display: block;
  background-color: #0082e6
}


nav.nav1 a {
  color:white;
  font-size: 17px;
  padding: 5px 0px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;

}

nav.nav1 a:hover {
  background: red;
  transition: .5s;
}


nav.nav2 a:hover {
  display: block;
  background: #1b9bff;
  transition: .5s;
}


.side_left {
  width: 30%;
  display: block;
  text-align: center;
  float: left;
  padding-top: 30px;
  margin-top: 100px;
  background-color: yellow;
  color: green;
  text-transform: uppercase;
}

.side_left li {
  display: block; 
  margin: 50px;
}

.side_left ul li a{
  display: block;
  color:red;
  font-size: 17px;
  padding: 5px 0px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.side_left ul li a:hover {
  display: block;
  background: blue;
  transition: .5s;
}

/* Middle column */
.side_middle {
  width: 40%;
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 250px;
  float: left;
  background-color: red;
  color: yellow;
  text-transform: uppercase;

}

.side_right {
  width: 30%;
  display: block;
  text-align: center;
  padding-top: 30px;
  margin-top: 100px;
  float: left;
  background-color: yellow;
  color: green;
  text-transform: uppercase;
}

.side_right li {
  display: block; 
  margin: 50px;
}

.side_right ul li a{
  display: block;
  color:red;
  font-size: 17px;
  padding: 5px 0px;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 3px;
}

.side_right ul li a:hover {
  display: block;
  background: blue;
  transition: .5s;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 600px) {
  .side_left, .side_middle {
    width: 100%;
  }
}

.yoga_top {
  width: 100%;
  display: block;
  /*text-align: center;*/
  float: left;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: 130px;
  margin-top: 30px;
  /*background-color: #fdaca7;*/
  color: green;
  font-size: 40px;
}

#Yoga_top {
  color: black;
}

.yoga_bottom{
  width: 60%;
  height: 100%;
  display: inline-block;
  text-align: center;
  float: left;
  padding-top: 30px;
  padding-left: 0px
  margin-top: 500px;
  margin-left: 50px;
  margin-bottom: 0px;
  /*background-color: #d3d3d3*/;
  color: green;
  text-transform: uppercase;
}

#Yoga_bottom {
  color: black;
}

#yoga_button {

  background-color: green
  font-size=30px;
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  border: none;
  color: green;
}

table, th, td {
  border: 1px solid black;
  width:575px;
}

#appointmment {
  color: black;
  background-color: gray;
}

.appointment {

  width: 40%;
  display: block;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-top: 310px;
  margin-left: 30%;
  float: left;
  background-color: #fdaca7;
  color: green;
  text-transform: uppercase;
}

.footer {
  position: fixed;
  height: 50px;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #0082e6;
  color: white;
  float:right;
}

#email {
  padding-top: 15px;
  padding-left:10px;
}
h3.SocialNet {
  float:right;
  margin-right: 50px;
  padding-top: 10px;
}

.fa {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 30px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  margin: 2px 5px;
  float: right;
  margin-right: 15px;
  margin-bottom: 15px;
  margin-top: 7px;
  margin-left: 7px;

}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background:red;
  color:white;
}