<!DOCTYPE html>

<html lang="en">
<head>
<title>Classes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="main_bg">
<%- include('./partials/header.ejs'); %>
<div class="row">
  <div class="class_side_left">
    <h1>About</h1>
  </div>

  <div class="class_side_right">
        <h2>Welcome to the STAY GYM club!</h2><br><br><br>
        <p>Attend and Create Fitness events with people. Whether you are looking for Fitness buddy.</p><br><br>
        <p>Trying to connect who are interested in something you love to do, or want to try something new.</p><br><br>
        <p>Check out <span id=address_contact>ACTIVITY</span> section to browse available connections</p><br><br><br>
        <h2 id=quote>“The body achieves what the mind believes.”</h2>
  </div>
</div>

<%- include('./partials/footer.ejs'); %>
</body>
</html>
