<!DOCTYPE html>
<html lang="en">
<head>
<title>Classes</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<link rel="stylesheet" href="./../styles/style.css">-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class="main_bg">
<%- include('./partials/header.ejs'); %>
<div class="class_about">
  <p>We Are Your Neighborhood Wellness Club in Charlotte</p>
</div>

<div class="row">
  <div class="side_left">
    <h1>Address</h1><br><br>
    <address>
      9515 University Terrace Drive<br>
      Charlotte midtown<br>
      USA<br><br>

      1020 Terrain st<br>
      Charlotte uptown<br>
      USA<br><br>

    </address>
  </div>

  <div class="side_middle">
    <h1>Contact</h1>
  </div>

  <div class="side_right">
    <h1>Contact Details</h1><br><br>
    <address>
      Contact us: (415) 525-4364<br><br>
      Visit us: @stay_fit.com<br><br>
      Entry Hours: Mon-Sun: 5:30am-11:00pm<br>
      Staffed Hours: Mon-Thur 9am-8pm, Fri: 9am-7pm, Sat-Sun: 10am-5pm<br><br>
    </address>
  </div>
</div>

<%- include('./partials/footer.ejs'); %>
</body>
</html>
