<link href="./../assets/styles/style.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="footer">
  <a href="index" class="fa fa-facebook"></a>
  <a href="index" class="fa fa-twitter"></a>
  <a href="index" class="fa fa-instagram"></a>
  <h3 class='SocialNet'>On Social Netwoks</h3>
	<div>
	<nav class="nav2">
		<ul>
			<li><a href="about">About</a></li>
			<li><a href="contact">Contact</a></li>
		</ul>
	</nav>
</div>
</div>
