<link href="./../assets/styles/style.css" rel="stylesheet" type="text/css" />

<div class="container1">
<nav class="nav2">
  <ul>
    <li><a href="index">Home</a></li>
    <li><a href="connDetails">Activity</a>
      <ul class="dropdown">
        <li><a href="connDetails">Personal Activity</a></li>
        <li><a href="connDetails">Group Activity</a></li>
      </ul>
    </li>
  </ul>
</nav>
</div>
