<link href="./../assets/styles/style.css" rel="stylesheet" type="text/css" />

<div class="container">
  <a href="index">
    <img src="./../assets/images/logo.jpg " alt="Stay Fit Logo" class="logo">
  </a>
  <label class="page_title">STAY FIT</label>
  <nav class="nav1">
    <ul>
      <li><a href="newConnection">Member Connection</a></li>
      <li><a href="index">Login</a></li>
      <li><a href="newConnection">Sign Up</a></li>
    </ul>
  </nav>
</div>
